---
---

@import "{{ site.theme }}";

/* Change header background color */
header {
    background-color: #333333; /* Dark gray */
  }
  
  /* Change text color in the main content area */
  #main-content {
    color: #333333; /* Dark gray text */
  }
  
  /* Change the color of the main heading */
  h1 {
    color: #ff5733; /* Orange */
  }
  
  /* Change link and button colors */
  a.button {
    background-color: #ff5733; /* Orange */
    color: white; /* White text */
  }
  
  a.button:hover {
    background-color: #d04e2e; /* Darker orange for hover effect */
  }
  